fastapi
uvicorn
numpy
pandas
scikit-learn  
pyaudio
wave
speech_recognition
sqlite3
pyttsx3
csv
datetime
transformers 
torch
sklearn
numpy 
logging
json
cv2
time
sentence_transformers
